* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0B132B;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 40px 4%;
}

.top {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    transition: color 0.2s, transform 0.2s;
}

header a:hover {
    color: #5BC0BE;
    transform: scale(1.1);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #5BC0BE;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

header .btn-contato button:hover {
    box-shadow: 0 0 8px #469291;
}

.img-logo {
    width: 200px;
    height: 200px;
}

.social-links a {
    margin-right: 20px;
    font-size: 24px;
}

/* Fim Header */
/* Início Sobre */
.on {
    background-color: #1C2541;
    display: flex;
    justify-content: center;
}

.on-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.on-text h1 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 300;
}

.on-text p {
    color: #5BC0BE;
    font-size: 35px;
    font-weight: 500;
}

/* Fim Sobre */
/* Início Skills */
section.skills {
    padding: 40px 4%;
}
h2.title {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 350;
    text-align: center;    
}
h2.title span {
    color: #5BC0BE;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
.icon-item {
    background-color: #5BC0BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
    padding: 20px;
    width: 150px;
    height: 150px;
    justify-content: center;
    opacity: 0;
    border-radius: 10px;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    animation: fadeInUp 1s forwards;
}
.icon-item i {
    font-size: 50px;
    color: #FFFFFF;
}
.icon-item span {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 18px;
}
.icon-item:hover {
    transform: scale(1.1) translateY(-10px);
}
.icon-item:hover i, .icon-item:hover span {
    transition: transform 0.3s ease-in-out;
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Fim Skills */
/* Início Projetos */
section.projects {
    background-color: #1C2541;
    padding: 40px 4%;
    display: flex;
    justify-content: center;
}
.projects-content {
    max-width: 1200px;
    width: 100%;
}
.cozi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cozi img { 
    width: 60%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #5BC0BE;
    margin-top: 25px; 
    margin-right: 40px; 
    box-shadow: #0B132B 0px 0px 10px;
}
.cozi img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}
.cozi-text {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 15px;
    margin-right: 20px;
    width: 40%;
}
.cozi-text h3 {
    color: #5BC0BE;
    font-size: 24px;
    margin-bottom: 20px;
}
.cozi-skills {
    display: flex;
    flex-direction: column;
}
.cozi-skill {
    display: block;
    align-items: center;
    margin-bottom: 10px;
}
.cozi-skill p {
    color: #FFFFFF;
    font-size: 13px;
    margin-right: 10px;
}
.cozi-skill i {
    color: #5BC0BE;
    font-size: 18px;
    margin-right: 10px;
}
.btn-acess {
    margin-top: 20px;
}
.btn-acess button {
    background-color: #5BC0BE;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.btn-acess button:hover {
    background-color: #3A7D90;
}
.game-lovers {
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.game-lovers-text {
    color: #FFFFFF;
    font-size: 18px;
    text-align: right;
    line-height: 1.5;
    margin-top: 30px;
    margin-left: 15px;
    width: 40%;
}
.game-lovers-text h3 {
    color: #5BC0BE;
    font-size: 24px;
    margin-bottom: 20px;
}
.game-lovers-skills {
    display: flex;
    flex-direction: column;
}
.game-lovers-skill {
    display: block;
    align-items: center;
    margin-bottom: 10px;
}
.game-lovers-skill p {
    color: #FFFFFF;
    font-size: 13px;
    margin-right: 10px;
}
.game-lovers-skill i {
    color: #5BC0BE;
    font-size: 18px;
    margin-right: 10px;
}
.game-lovers img { 
    height: 30%;
    width: 40%;    
    border-radius: 10px;
    border: 3px solid #5BC0BE;
    margin-top: 35px; 
    margin-right: 40px; 
    box-shadow: #0B132B 0px 0px 10px;
}
.game-lovers img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* Fim Projetos */
/* Início Contato */
.contact {
    background-color: #3A506B;
    display: flex;
    justify-content: center;
}

.contact-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 4%;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.contact-content h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 350;
    margin-bottom: 20px;
}

.social-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-content a {
    color: #5BC0BE;
    text-decoration: none;
    display: inline-block;
    transition: color 0.2s, transform 0.2s;
}

.whatsapp {
    font-size: 50px;
    margin-right: 60px;
}

.telegram {
    font-size: 50px;
    margin-right: 60px;
}

.email {
    font-size: 50px;
}

/* Fim Contato */
/* Início Footer */
.footer {
    display: flex;
    justify-content: center;
}

.footer-content {
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-right: 80px;
}

.btn-back {
    color: #5BC0BE;
}

/* Fim Footer */
